<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyh.databing">

    <application
        android:name=".DataBindApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setuser.SetUserActivity"/>
        <activity android:name=".onclick.OnClickActivity"/>
        <activity android:name=".customer.CustomerActivity"/>
        <activity android:name=".findview.FindViewActivity"/>
        <activity android:name=".recyclerView.RecyclerViewActivity"/>
    </application>

</manifest>